<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-client-heading"
        data-cy="ClientCreateUpdateHeading"
        jhiTranslate="sevenRoomsToReviewProApplicationApp.client.home.createOrEditLabel"
      >
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_clientId" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.clientId"
            >Client Id</label
          >
          <input type="text" class="form-control" name="clientId" id="field_clientId" data-cy="clientId" formControlName="clientId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.createdDate"
            >Created Date</label
          >
          <input
            type="text"
            class="form-control"
            name="createdDate"
            id="field_createdDate"
            data-cy="createdDate"
            formControlName="createdDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedDate" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.updatedDate"
            >Updated Date</label
          >
          <input
            type="text"
            class="form-control"
            name="updatedDate"
            id="field_updatedDate"
            data-cy="updatedDate"
            formControlName="updatedDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deletedDate" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.deletedDate"
            >Deleted Date</label
          >
          <input
            type="text"
            class="form-control"
            name="deletedDate"
            id="field_deletedDate"
            data-cy="deletedDate"
            formControlName="deletedDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastname" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.lastname">Lastname</label>
          <input type="text" class="form-control" name="lastname" id="field_lastname" data-cy="lastname" formControlName="lastname" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_firstname" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.firstname"
            >Firstname</label
          >
          <input type="text" class="form-control" name="firstname" id="field_firstname" data-cy="firstname" formControlName="firstname" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_gender" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.gender">Gender</label>
          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_salutation" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.salutation"
            >Salutation</label
          >
          <input
            type="text"
            class="form-control"
            name="salutation"
            id="field_salutation"
            data-cy="salutation"
            formControlName="salutation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_birthdayDay" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.birthdayDay"
            >Birthday Day</label
          >
          <input
            type="number"
            class="form-control"
            name="birthdayDay"
            id="field_birthdayDay"
            data-cy="birthdayDay"
            formControlName="birthdayDay"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_birthdayMonth" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.birthdayMonth"
            >Birthday Month</label
          >
          <input
            type="number"
            class="form-control"
            name="birthdayMonth"
            id="field_birthdayMonth"
            data-cy="birthdayMonth"
            formControlName="birthdayMonth"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_birthdayAltMonth" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.birthdayAltMonth"
            >Birthday Alt Month</label
          >
          <input
            type="number"
            class="form-control"
            name="birthdayAltMonth"
            id="field_birthdayAltMonth"
            data-cy="birthdayAltMonth"
            formControlName="birthdayAltMonth"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anniversaryDay" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.anniversaryDay"
            >Anniversary Day</label
          >
          <input
            type="number"
            class="form-control"
            name="anniversaryDay"
            id="field_anniversaryDay"
            data-cy="anniversaryDay"
            formControlName="anniversaryDay"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anniversaryMonth" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.anniversaryMonth"
            >Anniversary Month</label
          >
          <input
            type="number"
            class="form-control"
            name="anniversaryMonth"
            id="field_anniversaryMonth"
            data-cy="anniversaryMonth"
            formControlName="anniversaryMonth"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.company">Company</label>
          <input type="text" class="form-control" name="company" id="field_company" data-cy="company" formControlName="company" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_emailAlt" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.emailAlt"
            >Email Alt</label
          >
          <input type="text" class="form-control" name="emailAlt" id="field_emailAlt" data-cy="emailAlt" formControlName="emailAlt" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.phoneNumber"
            >Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_phoneNumberlocale"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.phoneNumberlocale"
            >Phone Numberlocale</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumberlocale"
            id="field_phoneNumberlocale"
            data-cy="phoneNumberlocale"
            formControlName="phoneNumberlocale"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumberalt" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.phoneNumberalt"
            >Phone Numberalt</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumberalt"
            id="field_phoneNumberalt"
            data-cy="phoneNumberalt"
            formControlName="phoneNumberalt"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_phoneNumberaltlocale"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.phoneNumberaltlocale"
            >Phone Numberaltlocale</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumberaltlocale"
            id="field_phoneNumberaltlocale"
            data-cy="phoneNumberaltlocale"
            formControlName="phoneNumberaltlocale"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address2" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.address2"
            >Address 2</label
          >
          <input type="text" class="form-control" name="address2" id="field_address2" data-cy="address2" formControlName="address2" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_postalCode" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.postalCode"
            >Postal Code</label
          >
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_state" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.state">State</label>
          <input type="text" class="form-control" name="state" id="field_state" data-cy="state" formControlName="state" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_country" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isContactPrivate" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.isContactPrivate"
            >Is Contact Private</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isContactPrivate"
            id="field_isContactPrivate"
            data-cy="isContactPrivate"
            formControlName="isContactPrivate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isOnetimeGuest" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.isOnetimeGuest"
            >Is Onetime Guest</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isOnetimeGuest"
            id="field_isOnetimeGuest"
            data-cy="isOnetimeGuest"
            formControlName="isOnetimeGuest"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_loyaltyId" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.loyaltyId"
            >Loyalty Id</label
          >
          <input type="text" class="form-control" name="loyaltyId" id="field_loyaltyId" data-cy="loyaltyId" formControlName="loyaltyId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_loyaltyRank" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.loyaltyRank"
            >Loyalty Rank</label
          >
          <input
            type="number"
            class="form-control"
            name="loyaltyRank"
            id="field_loyaltyRank"
            data-cy="loyaltyRank"
            formControlName="loyaltyRank"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_loyaltyTier" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.loyaltyTier"
            >Loyalty Tier</label
          >
          <input
            type="text"
            class="form-control"
            name="loyaltyTier"
            id="field_loyaltyTier"
            data-cy="loyaltyTier"
            formControlName="loyaltyTier"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_marketingOptin" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.marketingOptin"
            >Marketing Optin</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="marketingOptin"
            id="field_marketingOptin"
            data-cy="marketingOptin"
            formControlName="marketingOptin"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_marketingOptints" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.marketingOptints"
            >Marketing Optints</label
          >
          <input
            type="text"
            class="form-control"
            name="marketingOptints"
            id="field_marketingOptints"
            data-cy="marketingOptints"
            formControlName="marketingOptints"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_marketingOptOutts"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.marketingOptOutts"
            >Marketing Opt Outts</label
          >
          <input
            type="text"
            class="form-control"
            name="marketingOptOutts"
            id="field_marketingOptOutts"
            data-cy="marketingOptOutts"
            formControlName="marketingOptOutts"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_hasBillingProfile"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.hasBillingProfile"
            >Has Billing Profile</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="hasBillingProfile"
            id="field_hasBillingProfile"
            data-cy="hasBillingProfile"
            formControlName="hasBillingProfile"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_privateNotes" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.privateNotes"
            >Private Notes</label
          >
          <input
            type="text"
            class="form-control"
            name="privateNotes"
            id="field_privateNotes"
            data-cy="privateNotes"
            formControlName="privateNotes"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tags" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.tags">Tags</label>
          <input type="text" class="form-control" name="tags" id="field_tags" data-cy="tags" formControlName="tags" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalVisits" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalVisits"
            >Total Visits</label
          >
          <input
            type="number"
            class="form-control"
            name="totalVisits"
            id="field_totalVisits"
            data-cy="totalVisits"
            formControlName="totalVisits"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalCovers" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalCovers"
            >Total Covers</label
          >
          <input
            type="number"
            class="form-control"
            name="totalCovers"
            id="field_totalCovers"
            data-cy="totalCovers"
            formControlName="totalCovers"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_totalCancellations"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalCancellations"
            >Total Cancellations</label
          >
          <input
            type="number"
            class="form-control"
            name="totalCancellations"
            id="field_totalCancellations"
            data-cy="totalCancellations"
            formControlName="totalCancellations"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalNoShows" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalNoShows"
            >Total No Shows</label
          >
          <input
            type="number"
            class="form-control"
            name="totalNoShows"
            id="field_totalNoShows"
            data-cy="totalNoShows"
            formControlName="totalNoShows"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalSpend" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalSpend"
            >Total Spend</label
          >
          <input
            type="number"
            class="form-control"
            name="totalSpend"
            id="field_totalSpend"
            data-cy="totalSpend"
            formControlName="totalSpend"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_totalSpendPerCover"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalSpendPerCover"
            >Total Spend Per Cover</label
          >
          <input
            type="number"
            class="form-control"
            name="totalSpendPerCover"
            id="field_totalSpendPerCover"
            data-cy="totalSpendPerCover"
            formControlName="totalSpendPerCover"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_totalspendPerVisit"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalspendPerVisit"
            >Totalspend Per Visit</label
          >
          <input
            type="number"
            class="form-control"
            name="totalspendPerVisit"
            id="field_totalspendPerVisit"
            data-cy="totalspendPerVisit"
            formControlName="totalspendPerVisit"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_avgRating" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.avgRating"
            >Avg Rating</label
          >
          <input type="number" class="form-control" name="avgRating" id="field_avgRating" data-cy="avgRating" formControlName="avgRating" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_referenceCode" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.referenceCode"
            >Reference Code</label
          >
          <input
            type="text"
            class="form-control"
            name="referenceCode"
            id="field_referenceCode"
            data-cy="referenceCode"
            formControlName="referenceCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_externalUserId" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.externalUserId"
            >External User Id</label
          >
          <input
            type="text"
            class="form-control"
            name="externalUserId"
            id="field_externalUserId"
            data-cy="externalUserId"
            formControlName="externalUserId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_venueGroupId" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.venueGroupId"
            >Venue Group Id</label
          >
          <input
            type="text"
            class="form-control"
            name="venueGroupId"
            id="field_venueGroupId"
            data-cy="venueGroupId"
            formControlName="venueGroupId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_birthdayAltDay" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.birthdayAltDay"
            >Birthday Alt Day</label
          >
          <input
            type="number"
            class="form-control"
            name="birthdayAltDay"
            id="field_birthdayAltDay"
            data-cy="birthdayAltDay"
            formControlName="birthdayAltDay"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userName" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.userName"
            >User Name</label
          >
          <input type="text" class="form-control" name="userName" id="field_userName" data-cy="userName" formControlName="userName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalOrderCount" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.totalOrderCount"
            >Total Order Count</label
          >
          <input
            type="number"
            class="form-control"
            name="totalOrderCount"
            id="field_totalOrderCount"
            data-cy="totalOrderCount"
            formControlName="totalOrderCount"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_preferredLanguageCode"
            jhiTranslate="sevenRoomsToReviewProApplicationApp.client.preferredLanguageCode"
            >Preferred Language Code</label
          >
          <input
            type="text"
            class="form-control"
            name="preferredLanguageCode"
            id="field_preferredLanguageCode"
            data-cy="preferredLanguageCode"
            formControlName="preferredLanguageCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clientPhoto" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.clientPhoto"
            >Client Photo</label
          >
          <select
            class="form-control"
            id="field_clientPhoto"
            data-cy="clientPhoto"
            name="clientPhoto"
            formControlName="clientPhoto"
            [compareWith]="compareClientPhoto"
          >
            <option [ngValue]="null"></option>
            @for (clientPhotoOption of clientPhotosCollection; track $index) {
              <option [ngValue]="clientPhotoOption">{{ clientPhotoOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clientVenueStats" jhiTranslate="sevenRoomsToReviewProApplicationApp.client.clientVenueStats"
            >Client Venue Stats</label
          >
          <select
            class="form-control"
            id="field_clientVenueStats"
            data-cy="clientVenueStats"
            name="clientVenueStats"
            formControlName="clientVenueStats"
            [compareWith]="compareClientVenueStats"
          >
            <option [ngValue]="null"></option>
            @for (clientVenueStatsOption of clientVenueStatsCollection; track $index) {
              <option [ngValue]="clientVenueStatsOption">{{ clientVenueStatsOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
