<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (resTable()) {
      <div>
        <h2 data-cy="resTableDetailsHeading">
          <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resTable.detail.title">Res Table</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ resTable()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="sevenRoomsToReviewProApplicationApp.resTable.tableNumber">Table Number</span></dt>
          <dd>
            <span>{{ resTable()!.tableNumber }}</span>
          </dd>
          <dt><span jhiTranslate="sevenRoomsToReviewProApplicationApp.resTable.reservation">Reservation</span></dt>
          <dd>
            @if (resTable()!.reservation) {
              <div>
                <a [routerLink]="['/reservation', resTable()!.reservation?.id, 'view']">{{ resTable()!.reservation?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/res-table', resTable()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
