<div>
  <h2 id="page-heading" data-cy="ResCustomFieldHeading">
    <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.home.title">Res Custom Fields</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-res-custom-field"
        [routerLink]="['/res-custom-field/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.home.createLabel">Create a new Res Custom Field</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (resCustomFields?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.home.notFound">No Res Custom Fields found</span>
    </div>
  }

  @if (resCustomFields && resCustomFields.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="systemName">
              <div class="d-flex">
                <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.systemName">System Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="displayOrder">
              <div class="d-flex">
                <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.displayOrder">Display Order</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.value">Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reservation.id">
              <div class="d-flex">
                <span jhiTranslate="sevenRoomsToReviewProApplicationApp.resCustomField.reservation">Reservation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (resCustomField of resCustomFields; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/res-custom-field', resCustomField.id, 'view']">{{ resCustomField.id }}</a>
              </td>
              <td>{{ resCustomField.systemName }}</td>
              <td>{{ resCustomField.displayOrder }}</td>
              <td>{{ resCustomField.name }}</td>
              <td>{{ resCustomField.value }}</td>
              <td>
                @if (resCustomField.reservation) {
                  <div>
                    <a [routerLink]="['/reservation', resCustomField.reservation.id, 'view']">{{ resCustomField.reservation.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/res-custom-field', resCustomField.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/res-custom-field', resCustomField.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(resCustomField)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (resCustomFields && resCustomFields.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
